<div class="container about-body" id="about">
  <!-- <img src="/assets/images/crowd.png" class="about-image img-fluid"> -->
  <div class="row">
    <div class="col-6 say-no">
      <img src="/assets/images/say-no.png" class="say-no">
      <p>
        N0agency says no to retainer fees. No to inflated budgets.
        No to stroking clients’ egos over lunch, and laughing at them behind their back.<br>
        No to pre-selected areas of expertise.
        No to empty promises and self-important, illogical creative concepts.<br>
        No to vanity projects, no to nepotism - and no to clients we don’t believe in.
      <p>
    </div>
    <div class="col-6 say-yes">
      <img src="/assets/images/say-yes.png" class="say-yes">
      <p>
        <!-- You buy our services, but you don’t buy our souls.<br> -->
        <!-- We don’t work fixed hours, we don’t have offices and we don’t have overheads
        – so when you work with us, you’re getting the best of us: -->
        We have no overhead, so when you work with us you’re getting the best from us.<br>
        <!-- our minds, at the time we work best, and from the place where we work best. -->
        We only work with clients we believe in, and we’ll give everything for the things we believe in.
        We’ll make everyone else believe in you too.<br>
        This is the heart of our skillset: identifying what makes you special and different,
        and communicating it so that other people can understand it, too.
      </p>
    </div>
  <div>
</div>
