<nav class="row navbar navbar-inverse navbar-toggleable-md fixed-top" role="navigation" id="navbar">
  <a class="navbar-brand col-1">
    <img src="/assets/images/say-no_transparent.png" width="45" height="45" alt="">
  </a>
  <div class="col-4"></div>
  <div class="collapse navbar-collapse col-7" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
