.contact-body {
  background-color: transparent;
  background: url("/assets/images/lights.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
