.intro-body {
  display: table;
  width: 100%;
  height: auto;
  padding: 0px 8px 555px 0px;
  text-align: left;
}

.fa-at {
  color: #a0f7c3;
  opacity: 0;
  /* text-align: center; */
  animation: fade 3s ease 8s infinite alternate;
  -webkit-animation: fade 3s ease 8s infinite alternate;
}

.css-typing p:nth-child(1) {
  width: 26em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
}

.css-typing p:nth-child(2) {
  width: 24em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end) 2s;
  animation: type 2s steps(40, end) 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end) 4s;
  animation: type 2s steps(40, end) 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end) 7s;
  animation: type 2s steps(40, end) 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes type {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
