<div class="container intro-body">
    <div class="row no-gutters">
      <div class="col-3"></div>
      <div class="col-6">
        <img src="/assets/images/n0agency_transparent.png" class="intro-image img-fluid">
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <p class="intro-text">One vision: to transform the agency model, favoring clients of all sizes, using a collective effort of freelance talent.</p>
            <p class="intro-text">Honest, measurable n0bullshit marketing.</p>
        </div>
    </div>
    <div class="row">
      <div class="col align-self-start"></div>
      <div class="col align-self-center">
        <a pageScroll href="#contact">
          <button class="btn btn-outline-success" type="button">Find out more</button>
        </a>
      </div>
      <div class="col align-self-end"></div>
    </div>
</div>
