<div class="container intro-body">
    <div class="row no-gutters">
      <div class="col-3"></div>
      <div class="col-6">
        <img src="/assets/images/n0agency_transparent.png" class="intro-image img-fluid">
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="css-typing">
          <p>One vision: to transform the agency model,</p>
          <p>favouring clients of all sizes,</p>
          <p> by using a collective effort of freelance talent.</p>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <a pageScroll href="#about">
          <i class="fa fa-caret-square-o-down fa-2x"></i>
        </a>
      </div>
      <div class="col-4"></div>
    </div>
</div>
