<div class="container intro-body">
  <div class="row no-gutters">
    <div class="col-3"></div>
    <div class="col-6">
      <img
        src="/assets/images/n0agency_transparent.png"
        class="intro-image img-fluid"
      />
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
      <div class="css-typing">
        <p>One vision: to transform the agency model,</p>
        <p>favouring clients of all sizes,</p>
        <p>by using a collective effort of freelance talent.</p>
        <p>Get in touch:</p>
        <p class="css-typing">
          <a href="mailto:jennifer.barhoum@gmail.com">
            <!-- <i class="fa fa-envelope fa-2x"></i> -->
            <i class="fa fa-at fa-3x"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4"></div>
  </div>
</div>
