.intro-body {
  display: table;
  width: 100%;
  height: auto;
  padding: 0px 0px 550px 0px;
  text-align: center;
  color: white;
  background-color: transparent;
  background: url("/assets/images/hk.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}*/
